<!DOCTYPE html>
<html>
  <head>
    <title>tesst xx</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>ok</h1>
    <p>Welcome to ok</p>
    <a href="/user">CHuyển về User</a>
    <% persons.forEach(element => { %> <%= element._id %> <% }) %>
  </body>
</html>
